{% extends "base.html" %}
{% block content %}

<div class="form-container">
    <h2>Create Account</h2>

    <form method="POST">
        <label>Username</label>
        <input name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>User Role</label>
        <select name="role" required>
            <option value="Investor">Investor</option>
            <option value="Owner">Property Owner / Developer</option>
        </select>

        <button class="btn">Register</button>
    </form>
</div>

{% endblock %}
